@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { padding: 0; margin: 0; }
body, button, input, select, textarea { font: 0.333rem/1.74 "幼圆", \5E7C\5706, "microsoft yahei", "simsun", \5b8b\4f53, arial; color: #4a4a4a; }
ul, ol, li { list-style: none; }
i, em { font-style: normal }
img { vertical-align: top; border: 0; }
a { color: #000; text-decoration: none; }
a:hover { color: #000; }
table { border-collapse: collapse; border-spacing: 0; }
table td { padding: 0; margin: 0; }
table th.wztop { vertical-align: top; }
.fl, .fr { float: left; overflow: hidden; }
.fr { float: right; }
section, article, aside, header, footer, nav, dialog, figure { display: block; padding: 0; margin: 0; }
/*com*/
.wrap, .area, .inn, .hd, .bd, .d, .d2, .d3, .pic, .txt, .u, .u li, .u3, .u3 li, .box, .tit, .con { position: relative; clear: both; overflow: hidden; }
html, body, .wrap, .area, .swiper-container, .swiper-slide { height: 100%; }
.wrap { max-width: 640px; margin: 0 auto; }
.pic img { max-width: 100%; max-height: 100%; }
.fcR, .fcR:hover { color: #fa8933; }
.fcR2, .fcR2:hover { color: #ff0090; }
.fcB, .fcB:hover { color: #1989ee; }
.fcB2, .fcB2:hover { color: #019deb; }
.d2, .d3 { background-position: 0 0; background-repeat: no-repeat; -webkit-background-size: 100%; background-size: 100%; }
.iC, .btn, .btn2, .btn3, .cap1, .cap2 { position: relative; display: block; text-align: center; overflow: hidden; background-repeat: no-repeat; background-position: 0 0; -webkit-background-size: 100%; background-size: 100%; outline: none; }
.iC, .btn2, .btn3, .cap1, .cap2 { line-height: 20em; }
.btn2, .btn3 { background-color: transparent; border: none; }
.btn2 { z-index: 20; width: 3.173rem; height: 1.2rem; margin: 0 auto; background-image: url("../images/btn_ks.png"); }
.btn3 { width: 3.173rem; height: 1.2rem; margin: 0 auto; background-image: url("../images/btn_qd.png"); }
.btn_jx { background-image: url("../images/btn_jx.png"); }
.i_dr, .i_dw { position: absolute; top: 0.107rem; right: 0.107rem; z-index: 10; width: 0.8rem; height: 0.8rem; background-image: url("../images/i_dr.png"); }
.i_dw { background-image: url("../images/i_dw.png"); }
.i_dtr, .i_dtw { width: 3.6rem; height: 3rem; background-image: url("../images/i_dtr.png"); }
.i_dtw { background-image: url("../images/i_dtw.png"); }
.i_fx { width: 78%; height: 14rem; margin: 0.347rem auto 0; background-image: url("../images/i_fx.png"); }
/*area*/
.area { background-position: center 0; background-repeat: no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; }
.area { background-image: url("../images/bg_area.jpg"); }
.P5 { background-image: url("../images/bg_p5.jpg"); }
.d_load { font-size: 0.267rem; text-align: center; color: #e7483d; margin: 30% auto 0; }
.loading_img { width: 3.16rem; height: 3.36rem; margin: 0 auto; }
.loading_img2 { width: 3.64rem; height: 2.467rem; margin: 0.8rem auto 0; }
.loading_img img, .loading_img2 img { width: 100%; }
.loading_line, .loading_line_blank { position: relative; display: block; width: 3.467rem; height: 0.107rem; margin: 0.347rem auto 0.4rem; background: #f56330; border-radius: 0.053rem; overflow: hidden; }
.loading_line_blank { position: absolute; top: 0; left: 0; width: 100%; margin: 0; background: #f29b76; }
.d_ml2 { width: 9.427rem; margin: 1.067rem auto 0; }
.d_ml2 .bd { height: 12rem; overflow-y: auto; }
.d_p3, .d_p4, .d_dt { height: 100%; }
.video, .video2 { position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; }
.box { width: 9.333rem; height: 14.507rem; margin: 0.48rem auto 0.373rem; }
.box .hd .d_jt { width: 100%; height: 0.52rem; margin-top: -1px; background-image: url("../images/bg_box2.png"); }
.box .bd { height: 100%; }
.cap3 { display: table; font-size: 0.453rem; font-weight: normal; color: #03010b; width: 8.693rem; line-height: 0.8rem; min-height: 2.4rem; padding: 0.133rem 0.32rem 0.32rem; background: #ededed; overflow: hidden; }
.cap3 .i_cap3 { display: table-cell; vertical-align: middle; }
.s_num, .fz25 { font-size: 0.373rem; color: #971520; margin-right: 0.107rem; }
.s_num { font-size: 0.453rem; }
.s_num i { font-size: 0.72rem; }
.u_dt li { margin-bottom: 0.4rem; }
.box .con2 { height: 6.8rem; margin-top: 0.4rem; overflow-y: auto; }
.box2 .cap3 { line-height: 0.667rem; }
.box2 .con2 { height: 7.4rem; }
.box2 .u_dt li { margin-bottom: 0.267rem; }
.d_dtw, .d_dtr { position: absolute; left: 0.107rem; top: 11.5rem; width: 3.6rem; height: 3rem; }
.d_dtw .pic, .d_dtr .pic { float: left; width: 2.853rem; height: 2.853rem; margin-top: 0.573rem; }
.d_dtr .pic { float: right; }
.btnP { position: absolute; bottom: 0; left: 0; text-align: center; width: 100%; height: 1.4rem; }
.btn, .btnon { font-size: 0.453rem; text-align: left; color: #03010b; width: 6.933rem; min-height: 0.8rem; line-height: 0.8rem; padding: 0.133rem 1.067rem 0.133rem 1.333rem; margin: 0 auto; background: #ededed; border-bottom: 0.133rem solid #030100; }
.btn em { position: absolute; top: 0; left: 0; bottom: 0; display: block; font-size: 0.613rem; font-family: "microsoft yahei"; text-align: center; color: #971520; width: 1.227rem; line-height: 1.173rem; background: #ffdd00; overflow: hidden; }
.btnon { background: #d89198; }
.btnon em { color: #971520; background: #e18920; }
.txt { font-size: 0.4rem; color: #131313; width: 8.587rem; line-height: 0.64rem; margin: 0 auto; }
.txt h3 { font-size: 0.52rem; font-weight: normal; text-align: left; margin: 0.533rem 0 0.347rem; }
.txt p { text-indent: 2em; }
.d_dt .cap31 { width: 8rem; }
.s_ts { position: absolute; top: 1.8rem; display: block; font-size: 0.4rem; text-align: center; color: #fefdab; width: 100%; }
.d_dt .tit { text-align: center; width: 8.667rem; height: 4.533rem; padding-top: 0.2rem; margin: 0 auto; border-bottom: 1px dashed #fff; }
.d_dt .con { width: 9.4rem; height: 4rem; padding: 0.4rem 0 0 0.107rem; }
.tzC { font-size: 0; }
.tQ { margin: 0.533rem 0.2rem 0; }
.tA span { display: block; font-size: 0.4rem; color: #fbe366; width: 1.6rem; line-height: 0.48rem; margin: 0.24rem auto 0; overflow: hidden; }
.i_sb1, .i_sb2 { position: absolute; top: 0; right: 0.5rem; z-index: 38; width: 1.76rem; height: 1.867rem; animation: flash 1.5s 1.5s infinite; }
.i_sb2 { top: 0.8rem; right: 0; width: 1.32rem; height: 1.747rem; background-image: url("../images/i_sb2.png"); }
.d_p2, .d_p3 { z-index: 10; }
.d_ft2, .d_ft3, .d_ft4 { position: absolute; left: 0; bottom: 0; width: 100%; height: 9.907rem; background-image: url("../images/bg_ft2.png"); background-position: 0 100%; }
.d_ft3 { height: 7.76rem; background-image: url("../images/bg_ft3.png"); }
.d_qk { width: 8.68rem; height: 1.75rem; line-height: 20em; margin: 0 auto; background-image: url("../images/bg_qk1.png"); }
.d_f_ewm { position: absolute; top: 5.82rem; left: 1.4rem; width: 3.04rem; height: 3.04rem; }
/*gqt_10*/
.d_ml2 .tit, .d_ml2 .tit2 { width: 9.427rem; height: 7.733rem; margin-bottom: 0.533rem; background: url("../images/bg_zj2.png") 0 0 no-repeat; -webkit-background-size: 100%; background-size: 100%; }
.d_ml2 .tit2 { height: 5.413rem; background-image: url("../images/bg_zj1.png"); }
.cap5 { font-size: 0.52rem; color: #fff; height: 1.387rem; line-height: 1.227rem; overflow: hidden; }
.cap5 span, .cap5 i { float: left; text-align: center; width: 1.947rem; overflow: hidden; }
.cap5 i { font-size: 0.773rem; color: #971520; width: 2.4rem; }
.u_kc { font-size: 0.48rem; color: #030100; width: 8.013rem; padding-left: 0.64rem; }
.u_kc li { padding: 0.107rem 0.133rem 0.107rem 2.8rem; height: 0.64rem; line-height: 0.64rem; margin-top: 0.64rem; background: url("../images/bg_kc.png") 0 0 no-repeat; -webkit-background-size: 8.013rem; background-size: 8.013rem; }
.u_kc label { position: absolute; top: 0; left: 0; font-size: 0.507rem; text-align: right; width: 2.4rem; line-height: 0.827rem; }
.u_kc li a { color: #030100; }
.u_kc li a:hover, .u_kc li a:active { color: #f9294c; }
.u_kc .li2 { height: 1.787rem; background-image: url("../images/bg_kc2.png"); }
.u_kc .li2 label { line-height: 2rem; }
.u_kc .li2 a { display: block; margin-top: 0.253rem; }
.cap2 { margin-bottom: 0.4rem; }
.txt { color: #fff; width: 8.627rem; height: 30%; margin-top: 0.533rem; overflow-y: auto; }
.txt h3 { margin: 0 0 0.347rem; }
.txt img { width: 100%; }
.d_ts { text-align: center; width: 100%; margin-top: 0.133rem; }
.d_p4 { z-index: 5; }
.cap1_1, .cap4 { position: relative; z-index: 10; font-weight: normal; text-align: center; color: #fff; overflow: hidden; }
.cap1_1 { font-size: 0.533rem; width: 3.88rem; height: 1.373rem; line-height: 1.227rem; margin: 1.333rem auto 0; background: url("../images/bg_cap1.png") center 0 no-repeat; -webkit-background-size: 100%; background-size: 100%; }
.cap1_1 span { float: left; width: 50%; box-sizing: border-box; overflow: hidden; }
.cap1_1 .s_k2 { color: #971520; }
.cap4 { font-size: 0.533rem; line-height: 0.8rem; padding: 0 0.4rem; margin: 0.267rem auto; }
.d_p41 { z-index: 10; width: 100%; height: 5.7rem; margin: 0 auto; background: #000; }
.p_info { font-size: 0.4rem; color: #fff; line-height: 0.667rem; padding: 0 0.4rem; margin: 0.533rem auto 0.8rem; }
.d_qs, .d_qk { z-index: 99; }
.d_qk { z-index: 5; width: 9.093rem; height: 8.56rem; margin-top: -4%; }
.d_thb { position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 4.853rem; background-image: url("../images/bg_thb.png"); }
.d_qs { position: absolute; top: 0; right: 0; z-index: 5; width: 2.707rem; height: 3.333rem; background-image: url("../images/bg_qs.png"); }
.d_qs2 { left: 0; right: inherit; width: 3.88rem; height: 3.84rem; background-image: url("../images/bg_qs2.png"); }
.mask { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 999; width: 100%; height: 100%; background: rgba(0,0,0,.75); }
.cap3_6 { margin-top: 0.1rem; }
.cap3_7 { margin-top: 0.7rem; }
.cap3_8 { margin-top: 1rem; }
.p_tr { position: relative; z-index: 5; text-align: right; padding-right: 0.5rem; }
.txt3 .bd { width: 7.7rem; height: 86%; margin: 0.6rem 0 0 0.7rem; overflow-y: auto; }
.txt3 h3 { font-size: 0.4rem; font-weight: bold; text-align: center; margin: 0.3rem auto; }
.d_ft3 { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; height: 8.653rem; }
.i_fx { z-index: 10; }
.d_ft4 { background-image: url("../images/bg_ft4.png"); }
.d_ft41 { background-image: url("../images/bg_ft41.png"); }
.d_ft42 { background-image: url("../images/bg_ft42.png"); }
.box3 .btn, .box3 .btnon { font-size: 0.51rem; }
.d_fts{position: absolute;left: 50%;bottom: 0.213rem;z-index: 15;width: 5.189rem;height: 1.253rem;margin-left: -2.587rem;background-image: url("../images/bg_ts.png");}
/*p6*/
.d_p6 { z-index: 10; height: 100%; }
.d_cg, .d_cg2 { z-index: 5; width: 9.28rem; height: 7.56rem; margin: 19% auto 0.933rem; background-image: url("../images/bg_cg.png"); }
.d_cg2 { background-image: url("../images/bg_cg2.png"); }
.btn_cg, .btn_cg2 { width: 3.04rem; height: 1.267rem; background-image: url("../images/btn_cg.png"); }
.btn_cg2 { background-image: url("../images/btn_cg2.png"); }
.d_name { font-size: 0.56rem; color: #fff; width: 6.5rem; height: 0.933rem; margin: 5.3rem auto 0; }
.d_name label { float: left; text-align: right; display: block; width: 2.133rem; height: 0.933rem; line-height: 20em; overflow: hidden; }
.d_name .inp_name, .d_name2 .fcY { font-size: 0.613rem; font-family: \5E7C\5706; color: #ffcd03; text-align: center; width: 3rem; height: 1.013rem; line-height: 1.013rem; background: none; border: none; border-bottom: 0.04rem solid #fff; overflow: hidden; outline: none; }
.d_name .inp_name { font-size: 0.56rem; width: 3.4rem; height: 0.933rem; line-height: 0.933rem; border: none; }
.d_name2 { position: absolute; top: 1.933rem; left: 50%; z-index: 10; font-size: 0.6rem; color: #fff; width: 8.4rem; margin: 0 0 0 -4.2rem; line-height: 1.067rem; }
.d_name2 p.d .fl { text-indent: 2em; }
.d_hz { text-align: center; width: 9.12rem; height: 10.147rem; margin: 5.76rem auto 0; }
.d_hz img { width: 100%; }
.d_th { z-index: 6; width: 1.84rem; height: 1.853rem; margin: 5% auto 2%; background-image: url("../images/bg_th.png"); }
/*d_back*/
.d_back { position: absolute; top: 0.667rem; left: 50%; z-index: 20; width: 8.667rem; margin-left: -4.333rem; }
.btn_back, .btn_next { width: 2.6rem; height: 0.973rem; }
.btn_back { float: left; background-image: url("../images/btn_back.png"); }
.btn_next { float: right; background-image: url("../images/btn_next.png"); }
.d_cabc { position: absolute; top: 15rem; left: 50%; width: 4.72rem; height: 0.547rem; margin-left: -2.36rem; background-image: url("../images/bg_cabc.png"); }
/*手滑动*/
.i_sb22 { top: 70%; right: 0; -webkit-animation: fadeUp 3s 1.5s infinite; animation: fadeUp 3s 1.5s infinite; -webkit-background-size: 100%; background-size: 100%; opacity: 0; }
@-webkit-keyframes fadeUp {
 0% {
  opacity: 1;
  top: 75%;
 }
 33% {
  opacity: 1;
  top: 40%;
 }
 34% {
  opacity: 1;
  top: 75%;
 }
 66% {
  opacity: 1;
  top: 40%;
 }
 67% {
  opacity: 1;
  top: 75%;
 }
 99% {
  opacity: 1;
  top:40%;
 }
 100% {
  opacity: 0;
 }
}
@-moz-keyframes fadeUp {
 0% {
  opacity: 1;
  top: 75%;
 }
 33% {
  opacity: 1;
  top: 40%;
 }
 34% {
  opacity: 1;
  top: 75%;
 }
 66% {
  opacity: 1;
  top: 40%;
 }
 67% {
  opacity: 1;
  top: 75%;
 }
 99% {
  opacity: 1;
  top:40%;
 }
 100% {
  opacity: 0;
 }
}
@keyframes fadeUp {
 0% {
  opacity: 1;
  top: 75%;
 }
 33% {
  opacity: 1;
  top: 40%;
 }
 34% {
  opacity: 1;
  top: 75%;
 }
 66% {
  opacity: 1;
  top: 40%;
 }
 67% {
  opacity: 1;
  top: 75%;
 }
 99% {
  opacity: 1;
  top:40%;
 }
 100% {
  opacity: 0;
 }
}

/*media*/
@media (min-width:640px) {
 html { font-size: 60px; }
}

@media (max-width:481px) {
 html { font-size: 48px; }
}

@media (max-width:480px) {
 html { font-size: 48px; }
}

@media (max-width:428px) {
 html { font-size: 42.8px; }
}

@media (max-width:414px) {
 html { font-size: 41.4px; }
}

@media (max-width:411px) {
 html { font-size: 41.1px; }
}

@media (max-width:400px) {
 html { font-size: 40px; }
}

@media (max-width:393px) {
 html { font-size: 39.3px; }
}

@media (max-width:384px) {
 html { font-size: 38.4px; }
}

@media (max-width:375px) {
 html { font-size: 37.5px; }
}

@media (max-width:368px) {
 html { font-size: 36.8px; }
}

@media (max-width:360px) {
 html { font-size: 36px; }
}

@media (max-width:360px) and (max-height:640px) {
 html { font-size: 36px; }
 .box { margin-top: 2%; }
 .d_cabc { top: 13.8rem;}
}

@media (max-width:320px) {
 html { font-size: 32px; }
}


/*placeholder*/
:-moz-placeholder {
 color: #cbc9c8;
 opacity:1;
}
::-moz-placeholder {
 color: #cbc9c8;
 opacity:1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 color: #cbc9c8;
 opacity:1;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #cbc9c8;
 opacity:1;
}
/*去掉苹果的默认UI来渲染按钮*/
input[type="submit"], input[type="reset"], input[type="button"], button, select { -webkit-appearance: none; }
